@import url('https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css');

* {
  /* Screen version */
  font-family: "LXGW WenKai Screen", sans-serif;
}

.backlink-list{
  padding-left: 10px;
  padding-top: 10px;
}

.markdown-preview-view ol{
 padding-left: 0px;
}

p {
  font-weight: 200 !important;
  font-size: 18px !important;
}

a.internal-link.is-unresolved {
    color: purple !important;
}

a.internal-link{
   color: purple !important;
}

/* 未访问的链接 */
p a:link {
    color: blue ;
}

/* 访问过的链接 */
p a:visited {
    color: purple ;
}

/* 鼠标悬停在链接上时 */
p a:hover {
    color: red !important;
}

/* 链接被选中时 */
p a:active {
    color: green !important;
}

h1 {
    font-family: "LXGW WenKai Screen", sans-serif !important;
    font-size: 22px !important;
}


h2 {
    font-family: "LXGW WenKai Screen", sans-serif  !important;
}

#forest-graph {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        flex-direction: column;
        .forest-body {
            display: inline-flex;
            flex-direction: column;
            transform: rotate(45deg);
            margin: 60px;
            margin-bottom: 30px !important;
            align-items: flex-end;

            @media (max-width: 575.99px) {
                transform: rotate(45deg) scale(0.9);
            }

            .forest-row {
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                a {
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: -2px;
                    margin-left: -2px;

                    img {
                        transform: rotate(-45deg);
                    }
                }

                .plane {
                    cursor: inherit;
                }
            }
        }

        .forest-legends {
            margin-top: 10px;
            display: flex;
            gap: 10px;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;

            font-size: 1.oem;
            color: var(--text-muted);

            img {
                height: 1.8em;
                width: auto;
                margin-right: 5px;
            }
        }
    }
